<!DOCTYPE html>
<html>
  <head>
    <title>Bootcamp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.cdnfonts.com/css/lemon-mocktail" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="turbo-refresh-method" content="morph">

  </head>

  <body class="h-dvh overflow-hidden"style="background-color:black;">
    <main class="container mx-auto mt-10 px-5 h-dvh" >
      <%= yield %>
    </main>
  </body>
</html>
